<ion-view title="Welcome" hide-back-button="true" class="profile">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
   
    <html>
<head>
    <title>OrgChart | First Look</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    

    <div id="people"></div>


    <script type="text/javascript">
        alert('sid');
        
    </script>




    </ion-content>

</ion-view>
